@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root{
    --bg-color:#222;
    --ori-black:#000000;
    --ori-white:#eeeeee;
    --ori-grey:#c4bfbf;
    --ori-green:#0ecb81;
    --ori-red:#ff0000;
    --ori-gold:#4E4FEB;
    --dark-gold:#068FFF;
}
html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    /* background:var(--bg-color);  */
    color: var(--ori-white);
}
a{
  text-decoration:none;
  color:var(--ori-gold);
}
/* FireFox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--ori-gold) var(--ori-white);
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: var(--ori-white);
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--ori-gold);
    border: 1px solid var(--ori-white);
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-gold);
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: var(--ori-gold);
  }
  
@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}